@import "tailwindcss";
/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.history h3 {
  margin-top: 0;
}

.history li {
  margin-bottom: 0.5rem;
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: repeat(3, 35px);
} */